body{ background: rgb(250,251,252); }
#lay_main{
    position: relative;
}
#lay_left{
    position: absolute; top: 0px; left: 0px; right: 230px;
    overflow: hidden;
}
#lay_right{
    position: absolute; top: 0px; right: 0px; width: 210px;
}

#prob-id{
    font-size: 16px; font-weight: 500; color: rgb(120,120,120);
}
#prob-title{
    font-size: 32px; font-weight: 900; color: rgb(0,134,191);
}
#prob-tag{
    position: relative;
    margin-top: 8px; padding-bottom: 10px;
    border-bottom: 2px solid rgb(0,134,191);
}
#prob-tag > a > .TAG{
    display: inline-block; height: 26px; border-radius: 13px;
    border: 1px solid rgb(0,134,191);
    font-size: 16px; font-weight: 500; color: rgb(0,134,191);
    background: white; padding-left: 10px; padding-right: 10px; margin-bottom: 5px;
}

.right_TOPBTN{
    position: relative;
    height: 40px; border-radius: 20px;
    box-shadow: 0 0 6px 3px rgb(0,0,0,0.12);
}
.right_TOPBTN > img{
    position: absolute; top: 3px; left: 10px;
    width: 34px; height: 34px;
}
.right_TOPBTN > div{
    width: 90%; height: 40px; margin-left: 10%; line-height: 40px;
    text-align: center; font-size: 15px; font-weight: 400; color: white;
}
#btn_editor{ background: rgb(0,134,191); }
#btn_submit{ background: rgb(34,177,76); margin-top: 10px; }
.right_TOPBOX{
    border-radius: 20px; background: white; margin-top: 15px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.05); padding: 17px;
    border: 1px solid rgb(220,220,220); overflow: hidden;
}
.right_TOPBOX > .right_TOPBOX-TITLE{
    font-size: 16px; font-weight: 500; color: rgb(50,50,50);
}
.right_TOBBOX-BTN{
    height: 30px; border-radius: 10px; margin-top: 10px;
    position: relative; overflow: hidden;
}
.right_TOBBOX-BTN >.right_TOBBOX-BTN-LOGO1{
    position: absolute; top: 4px; left: 9px;
    width: 22px; height: 22px;
}
.right_TOBBOX-BTN > .right_TOBBOX-BTN-TXT{
    position: absolute; top: 0px; left: 40px;
    height: 30px; line-height: 30px;
    font-size: 14px; font-weight: 300; color: rgb(70,70,70);
}
.right_TOBBOX-BTN > .right_TOBBOX-next{
    position: absolute; top: 7px; right: 7px;
    width: 16px; height: 16px; opacity: 0;
}
#donutchart-container{
    border-radius: 10px; overflow: hidden;
}
#donutchart{ width: 130px; margin: auto; }
#res{ margin-top: 10px; margin-left: 10px; margin-right: 10px; }
.right_TOPBOX-L{ position: relative; height: 20px; }
.right_TOPBOX-L-BORDER{ border-bottom: 1px solid rgb(220,220,220); }
.right_TOPBOX-L-LEFT{
    position: absolute; top: 0px; left: 0px;
    font-size: 13px; font-weight: 500; color: rgb(60,60,60);
}
.right_TOPBOX-L-RIGHT{
    position: absolute; top: 0px; left: 40%;
    font-size: 13px; font-weight: 300; color: rgb(60,60,60);
}
.right_TOPBOX-blogging-lay1{
    position: absolute; top: 6px; left: 6px;
    width: 26px; height: 26px; border-radius: 14px;
    overflow: hidden; background: white;
    border: 1px solid rgba(120,120,120,0.5);
}
.right_TOPBOX-blogging-lay1 > img{
    width: 100%; height: 100%;
}

.content{
    position: relative;
    padding: 15px; padding-bottom: 0px; padding-top: 25px;
    line-height: 220%; letter-spacing: 1.3px;
}
.content-txt{ float: left; }
.content-pow{ font-size: 12px; float: left; margin-top: -8px; }
.content-hidden{ display: none; }
.content-d{ font-family: "D2Coding"; }
.txt0{
    padding: 15px; padding-bottom: 0px; padding-top: 0px; margin-top: 25px;
    font-size: 17px; font-weight: 600;
    color: rgb(20, 134, 191);
}
.txt1{
    padding: 15px; padding-bottom: 0px; padding-top: 25px; margin-top: 25px;
    font-size: 17px; font-weight: 600;
    border-top: 1px solid rgb(200,200,200);
    color: rgb(20, 134, 191);
}
center > img{ max-width: 100%; }

.EXBOX-CONTENT{
    padding-left: 13px; padding-right: 13px;
    margin-top: 10px; margin-bottom: 10px;
}